<div class="container-fluid">
    
<%= form_with url: update_password_path(current_user), model:@user do |form| %>

    <% if @user.errors.any? %>
            <% @user.errors.full_messages.each do |msg|%>
                <div class="alert alert-warning font-s" role="alert"> 
                    <%= msg %>
                </div>
            <% end%>
    <% end%>

    <div>
          <%= form.label :current_password, class:"font-s"%>
        <%= form.text_field :current_password, class:"form-control font-s", type:"password"%>
    </div>
    <div>
        <%= form.label :new_password, class:"font-s"%>
        <%= form.text_field :new_password, class:"form-control font-s", type:"password"%>
    </div>
    <div>
        <%= form.label :new_password_confirmation, class:"font-s"%>
        <%= form.text_field :new_password_confirmation, class:"form-control font-s", type:"password"%>
    </div>
    <br>
    <%= form.submit "Change Password", class:'btn btn-outline-primary font-s'%>

    <% end %>